<div *ngIf="enviando" class="alert alert-info text-center mt-3">
    <i class="spinner-border spinner-border-sm me-2"></i> Estamos enviando tu información. Por favor espera un
    momento...
</div>

<!-- Formulario -->
<div *ngIf="!formularioEnviado && !enviando">
    <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <!-- Nombre completo -->
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre completo"
                [ngClass]="{'is-invalid': formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched}" />
            <div class="invalid-feedback"
                *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched">
                El nombre es obligatorio y debe contener solo letras.
            </div>
        </div>

        <!-- Celular -->
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="celular" placeholder="Celular"
                [ngClass]="{'is-invalid': formulario.get('celular')?.invalid && formulario.get('celular')?.touched}" />
            <div class="invalid-feedback"
                *ngIf="formulario.get('celular')?.invalid && formulario.get('celular')?.touched">
                Ingresa un número de celular válido (10 dígitos).
            </div>
        </div>

        <!-- Email -->
        <div class="mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="Email"
                [ngClass]="{'is-invalid': formulario.get('email')?.invalid && formulario.get('email')?.touched}" />
            <div class="invalid-feedback" *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
                Ingresa un email válido.
            </div>
        </div>

        <!-- País -->
        <div class="mb-3">
            <select id="pais" class="form-control" formControlName="pais" (change)="obtenerCiudades($event)">
                <option value="">Seleccione un país</option>
                <option *ngFor="let pais of paises" [value]="pais.code">{{ pais.name }}</option>
            </select>
            <div class="invalid-feedback" *ngIf="formulario.get('pais')?.invalid && formulario.get('pais')?.touched">
                Selecciona un país.
            </div>
        </div>

        <!-- Ciudad -->
        <div class="mb-3">
            <select id="ciudad" class="form-control" formControlName="ciudad" [disabled]="ciudades.length === 0">
                <option value="">Seleccione una ciudad</option>
                <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
            </select>
            <div class="invalid-feedback"
                *ngIf="formulario.get('ciudad')?.invalid && formulario.get('ciudad')?.touched">
                Selecciona una ciudad.
            </div>
        </div>

        <!-- Departamento -->
        <div class="mb-3">
            <select class="form-control" formControlName="departamento">
                <option value="">Departamento de interés...</option>
                <option *ngFor="let departamento of departamentos" [value]="departamento">
                    {{ departamento }}
                </option>
            </select>
        </div>

        <!-- Botón de envío -->
        <button type="submit" class="btn btn-primary w-100" [disabled]="enviando">
            Mas información
        </button>
    </form>
</div>

<!-- Mensaje de confirmación -->
<div *ngIf="formularioEnviado" class="text-center mt-3 alert "
    [ngClass]="{'alert-success': mensajeExito, 'alert-danger': !mensajeExito}">
    {{ mensaje }}
    <button class="btn btn-primary mt-2" (click)="recargarPagina()">Enviar otros datos</button>
</div>